.resume {
  min-height: 100%;
  max-width: 600px;
  margin: auto;
}

.resume h2 {
  font-size: xxx-large;
  text-align: center;
}

.education .school {
  font-weight: bold;
}

.skills ul {
  display: block;
  list-style-type: disc;
  padding-inline-start: 40px;
}
